
.begining{
    background-image: url("img/school.jpg");  
    padding-bottom:30px;
    background-attachment: fixed;
}

.navbutton {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 16px;
  }

.start{
 color: white;
 font-family: 'Poppins', sans-serif;
 width: 850px;
 /* font-size: 52px; */
 margin:130px 70px ;
}

.starting{
    font-size: 52px;
}

.started{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.start-button{
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 16px;
}

.mtech{
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 50px;
}
.sbutton{
    /* background-color: green; */
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.cardheader{
    font-size: 30px;
    /* bottom: 0; */
}
.features{
    padding-top: 100px;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
}
.card {
    display: inline-block;
    width: 300px;
    box-shadow: 5px 5px 42px -11px #D0D6CD;
    border-radius: 30px;
    text-align: center;
    padding:10px 10px;
    white-space: normal;
    margin-left:20px;
    margin-right:40px;
}
.card-item{
    /* width: 50px; */
    padding-top: 10px;
    border: none;
    color: grey;
    /* word-wrap: normal; */
}

.pricing h1{
    padding-top: 0px;
    padding-bottom: 30px;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}

.pricing h6{
    color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}



.qbutton {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

/* .scrolling-wrapper { */
    ::-webkit-scrollbar {
      display: none;
    }
  /* } */

  /* } */   



  /* ----------------------- */

  /* {
    box-sizing: border-box;
  }
   */
  /* body {
    font-family: Arial, Helvetica, sans-serif;
  } */
  
  /* Float four columns side by side */
  .notp .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .notp .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .notp .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #social{
      padding-left:15px ;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .notp .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .footer h4{
      font-size: 15px;
      color: grey;
  }


  /* --------------------ParentsPortal---------------- */

  .header{
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    margin-bottom: 40px;
    color: green;
  }

  .sub-header{
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;

  }

  .button {
    background-color:green;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 26px;
    /* font-weight: bold; */
  }

  .rectangle-button {
    background-color:green;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    /* margin-bottom: 30px; */
    cursor: pointer;
    /* border-radius: 16px; */
    /* font-weight: bold; */
  }

  label{
    color: white;
  }

  i{
    color: green;
  }

  .messages{
    background-image: url('img/workspace-pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form-holder{
    background-color: rgba(169, 169, 185, 0.486);
    padding: 10px 20px;
    width: 30%; 
    margin: auto;
  }


  .scrolling-wrapper ::-webkit-scrollbar { 
    display: none; 
}

.features-space{
  text-align: center; 
  font-weight: bold; 
  margin-top:10%;
}

.footertxt{
  /* width: 1230px;  */
  /* margin-left: 3%;  */
  margin-top: 3%;
}

.ussd{
  margin: auto; text-align: center; margin-top: 90px;
}

.portal{
  margin-left:50px;
}

.schools-girl{
  width:100%;
}
.about-img{
  width:100%;
}
.parents .start-button{
  background-color: white; 
  color: green; 
  border: 2px solid green; 
  margin-left: 20px; 
  font-weight: bold; 
  border-radius: 30px;
}

.Services{
  width:100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .start{
    width: auto;
    margin: 10px;
  }
  .starting{
    text-align: center;
    font-size: 40px;
  }
  .started{
    font-size: 20px;
    text-align: center;
  }
  .start .portal{
    width : 100%
  }
  .start-button{
    width: 70%;
    margin-top: 7%;
  }
  .features-space{
    margin-top: 130px;
  }
  section.features{
    padding-top: 12px;
    /* background-color: black; */
  }
  .card{
    width: 90%;
    margin: auto 10% 100px 10%;
    
  }
  .footer h4{
    /* width: 50px; */
  }

  .footertxt{
    width: auto;
  }

  .ussd{
    width:100%;
  }

  .feet{
    margin-left: 3%;
  }
  .header{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .sub-header{
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0px;

  }
.parents .start-button{
  text-align: center;
  /* background-color: pink; */
  /* color: black; */
  margin-top:10%;
  margin-left:10%;
  margin-right: 10%;
  width: 80%;

}
.button{
  margin-left:10% ;
  margin-right: 10%;
  width: 80%;
  margin-top:10%
}

  .about-img{
    width: 100%;
  }

.schools-girl{
 width:100%;
 display: none; 
}
.about .header{
  font-size: 20px;
}

.about .sub-header{
  font-size: 15px;
}

.form-holder{
  width: 100%;
}
.services {
  display: flex;
  flex-direction: row;
}
.services :nth-child(1) { order: 2; }
.services :nth-child(2) { order: 1; }
}